.cart-container-global {
  padding: 20px;
  background-color: white;
  margin: 70px;
  color: white;
  margin-top: 35px;
  border-radius: 5px;
  position: relative;
}

.cart-detailed-infos {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  align-items: center;
  text-align: center;
  p {
    color: black;
  }
  h5 {
    color: black;
    font-weight: bold;
    margin-bottom: 30px;
  }
}

.trait_dessus
{
border-top: 1px solid black;
width : 80%;
margin: 0 auto;
}

.cart-validation-options {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 0 auto;
  margin-top: 40px;
  align-items: center;
  margin-bottom: 150px;
}

.choice-category-cart {
  display: flex;
  margin-bottom: 30px;
  margin-bottom: 30px;
  width: 80vh;
  align-items: center;
  .livraison {
    background-color: white;
    color:black;
    border: solid 1px black;
    border-radius: 5px 0px 0px 5px;
    width:30%;
    padding: 3vh 0;
    border-right: solid grey 1px;
    text-align:center;
  }
  .ajout-cave {
    background-color: white;
    border: solid 1px black;
    color: black;
    border-radius: 0px 5px 5px 0px;
    width:30%;
    padding: 3vh 0;
    border-left: solid grey 1px;
    text-align:center;
  }
  .active {
    background-color:black;
    color:white;
    width:30%;
    padding: 3vh 0;
  }
}

.all-detailed-info-order {
  display: flex;
  justify-content: space-around;
  width: 600px;
  margin: 0 auto;
  p {
    color: black;
  }
}


.detailed-info-titles {
  border-right: solid 1px lightgrey;
  padding-right: 30px;
  font-weight: bold;
}


.detailed-info-titles-delivery {
  padding-right: 30px;
  font-weight: bold;
}

.detailed-info-content p {
  margin-bottom: 16px;
}

.delete-wine-order {
  color: black;
}

.add-remove-quantity-btn {
  color: black;
  border-radius: 50vh;
  font-size: 23 px;
  margin: 10px;
}

.title-panier {
  color: white;
  padding-top: 20px;
  text-align: center;
}

#totalofcart {
  margin-bottom:0;
  font-weight: bolder; 
  color: $my-primary;
}


.btn-valider-payer {
  position: absolute;
  bottom: 70px;
  right: 90px;
  border-radius: 10px;
  padding: 15px;
  color: white;
  background: black;
  border: black;
}

.btn-valider-payer a {
  color: white;
}


.image-size-wine {
    width: 100%;
    height: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-size-wine img {
    width: auto;
    height: 75%;
    object-fit: cover;
}

.cart-product-name {
  width: 300px;
}

.btn-valider-payer-modal-livraison {
  border-radius: 10px;
  padding: 15px;
  background: $my-primary;
  border: $my-primary;
  width: 150px;
  color: white;
}

.btn-valider-payer-modal-livraison a {
  color: white;
}

.btn-annuler-modal-livraison {
  border-radius: 10px;
  padding: 15px;
  background: black;
  border: black;
  color: white;
  width: 150px;
}

.btn-annuler-modal-livraison a {
  color: white;
}


.modal-footer-livraison {
  display: flex;
  justify-content: space-around;
  padding:15px;
}

#map > div.mapboxgl-control-container > div.mapboxgl-ctrl-top-right > div {
  margin: 10px 10px 0 0;
  float: right;
  width: -webkit-fill-available;
  margin-right: 3pc;
}

#map > div.mapboxgl-control-container > div.mapboxgl-ctrl-top-right > div > input {
  width: 900px;
}

#map > div.mapboxgl-canvas-container.mapboxgl-interactive.mapboxgl-touch-drag-pan.mapboxgl-touch-zoom-rotate > canvas {
    width: 1424px;
    height: 400px;
}
