.cart-detailed-infos {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  align-items: center;
  text-align: center;
  p {
    color: white;
  }
  h5 {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
  }
}

.trait_dessus
{
border-top: 1px solid white;
width : 80%;
margin: 0 auto;
}
