// Import page-specific CSS files here.
@import "home";
@import "show";
@import "contact";
@import "cart";

.container-index {
  background-color: #964242;
}

.search-bar-container {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-content {
  display: flex;
  .filters {
    width: 300px;
  }
}

.filter-content-reco {
  display: flex;
  justify-content: center;
  .filters {
    width: 300px;
  }
}

.container-title {
  padding: 15px 0;
  margin-bottom: 0;
  font-weight: bold;
  p {
    height: 25px;
    margin: 0;
    text-align:left;
    padding: 10px;
    margin-left: 80px;
    font-size: 20px;
  }
}

.choice-category {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  .category-vin {
    background-color: white;
    border-radius: 5px 0px 0px 5px;
    width:40%;
    padding: 3vh 0;
    border-right: solid grey 1px;
    text-align:center;
  }
  .category-spiritueux {
    background-color: white;
    border-radius: 0px 5px 5px 0px;
    width:40%;
    padding: 3vh 0;
    border-left: solid grey 1px;
    text-align:center;
  }
  .active {
    background-color:lightgrey;
    width:40%;
    padding: 3vh 0;
  }
}

.all-filters {
  background-color: white;
  border-radius: 10px;
  padding: 25px;
  margin: 25px;
  .category {
    background-color: lightgrey;
    border-radius: 5px;
  }
  .category p {
    padding: 5px;
  }
}

.recommandation-container {
  margin: 10px 10px 10px 10px;
  width: 1100px;
  background-color:white;
  border-radius: 10px;
  margin-bottom: 15px;
  flex-grow: 1;
}

