.container_show_wine {
  background: #964242;
  padding-bottom: 50px;
}

.container_show_wine .search_bar {
  padding: 25px 0 25px 0;
  margin: 0;
}

.container_show_wine .search_bar button {
  background-color: #000000;
  border: solid thin #000000;
}



.container_show_wine .wine_show_card {
  height:95%;
  width:95%;
  background: white;
  border-radius: 1vh;
  margin:0 auto;
  display: flex;
  justify-content: space-evenly;
  padding: 40px 0 40px 0;
  position: relative;
}

.container_show_wine .wine_show_card :not(.wine_show_card_ordering) {
  align-items:center;
}


.container_show_wine .wine_show_card .wine_show_card_photo {
  width: 25%;
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_show_wine .wine_show_card .wine_show_card_photo img{
  object-fit: fill;
  width: 60%;
}




.container_show_wine .wine_show_card .wine_show_card_infos {
  width: 40%
}

.container_show_wine .wine_show_card .wine_show_card_infos_details {
  margin: 15px;
  margin-left:0;
}

.container_show_wine .wine_show_card .wine_show_card_infos_advices {
  background: #EEEEEE;
  width: 100%;
  border-radius: 1vh;
  padding: 3vh 4vh 3vh 4vh;
  display: flex;
  justify-content: space-between;
  margin-top: 5vh;
}

.container_show_wine .wine_show_card .wine_show_card_designation {
  background: #EEEEEE;
  width: 100%;
  border-radius: 1vh;
  padding: 3vh 4vh 3vh 4vh;
  display: flex;
  justify-content: space-between;
  margin-top: 5vh;
  flex-direction: column;
}

.container_show_wine .wine_show_card .wine_show_card_designation p {
  font-size: 13px;
  margin-top: 1vh;
}

.container_show_wine .wine_show_card .wine_show_card_infos_advices h5 {
  text-align: center;
  padding-bottom: 1vh;
}

.container_show_wine .wine_show_card .wine_show_card_infos_advices p {
  font-size: 11px;
}

.container_show_wine .wine_show_card .wine_show_card_infos_advices_infos {
  width: 45%
}

.container_show_wine .wine_show_card .wine_show_card_infos_advices_service {
  width: 45%
}

.container_show_wine .wine_show_card .wine_show_card_ordering {
  width:25%;
  text-align: center;
  margin-top: 4.8%;
}

.container_show_wine .wine_show_card .wine_show_card_ordering_space {
  width:38vh;
  background: #EEEEEE;
  border-radius:10px;
  height:30vh;
  margin: 30% auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.container_show_wine .wine_show_card .wine_show_card_ordering_space .quantity{
  margin-top:4vh;
  margin-bottom: 3vh;
}

.container_show_wine .wine_show_card .wine_show_card_ordering_space .quantity .box_quantity {
  background: white;
  border-radius: 1vh;
  margin: 2vh 0 2vh 0;
  height: 8vh;
  width:15vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container_show_wine .wine_show_card .wine_show_card_ordering_space .ordering_buttons {
  display:flex;
  flex-direction: column;
  padding-bottom: 7vh;
}

.container_show_wine .wine_show_card .wine_show_card_ordering_space button {
  border-radius: 10px;
  padding: 7px;
  margin-bottom: 20px;
  background: black;
  border: black;
  color: white;
  width: 175px;
}

.container_show_wine .wine_show_card .wine_show_card_ordering_space .basket_button {
  background-color: #000000;
  border: solid thin #000000;
}


#avis-btn {
  border-radius: 10px;
  padding: 15px;
  color: white;
  background: black;
  border: black;
}



.container_show_wine .review_show_card {
  height:95%;
  width:95%;
  background: white;
  border-radius: 1vh;
  margin:0 auto;
  display: flex;
  justify-content: space-evenly;
  padding: 40px 0 40px 0;
  margin-top: 30px;
  align-items: center;
}


.total-review {
  display: flex;
  align-items: center;
}

.usersinfos {
  width: 105px;
  text-align: center;
}

.usersinfos .username {
  opacity: 0.5;
  font-size: 12px;
}

#starscolor {
  color: $my-yellow;
}

//reviews
.list-group-item {
  width: 700px;
}


.ratings-show {
  display: flex;
  position: absolute;
  top: 40px;
  left: 670px;
  margin-top: 20px;
  margin-left: 180px;
  align-items: baseline;
  font-weight: bold;
  border-radius: 50%;
  font-size: 25px;

}

.ratings-show {
  display: flex;
  position: absolute;
  top: 40px;
  left: 670px;
  margin-top: 20px;
  margin-left: 180px;
  align-items: baseline;
}

.delivery_button {
  border: solid;
}
