.container_show_wine {
  background: #964242;
  padding-bottom: 50px;
}

.container_show_wine .search_bar {
  padding: 25px 0 25px 0;
  margin: 0;
}

.container_show_wine .search_bar button {
  background-color: #000000;
  border: solid thin #000000;
}


.container_show_wine .wine_show_card {
  height:700px;
  width:95%;
  background: white;
  border-radius: 10px;
  margin:0 auto;
  display: flex;
  justify-content: space-evenly;
}


.container_show_wine .wine_show_card .wine_show_card_ordering {
  height:200px;
  width:20%;
  background:lightgrey;
}
