.modal-footer {
	display: flex;
	flex-wrap: unset !important;
}

.cards-container-all h2 {
	text-align: center;
	font-weight: bolder;

}


#bottlewine {
	transform: rotate(315deg); 
	color: $my-primary;
}

.modal-footer {
	display: flex;
	justify-content: space-around;
}

#map {
	width: 500px;
	height: 365px;
}