<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="contact-link">
    <%= link_to "Nous contacter", contact_path %>
  </div>
  <div class="footer-copyright">
    L'abus d'alcool est dangereux pour la santé.<br>
    Consommer avec modération.
  </div>
</div>
