<div class= "deliveries_title">
  <h1>Vos commandes passées :</h1>
</div>

<div class="past_deliveries">
  <% @my_orders.where(status: ["paid"]).each do |order| %>
    <div class="notification-content">
      <div class="cart-product-head">
        <div class="item-head-content status">
          <h5>Status: </h5>
          <p><%= order.status %></p>
        </div>
        <div class="item-head-content prix">
          <h5>Prix total:</h5>
          <p><%= humanized_money_with_symbol order.total_price %></p>
        </div>
      </div>
      <div class="order-items">
        <% order.order_wines.each do |order_wine| %>
          <div class="order-item">
            <div class="item-name">
              <p><%= order_wine.wine.name %> </p>
            </div>
            <div class="item-quantity">
              <p><%= order_wine.quantity_of_wine %> </p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
