<div class= "deliveries_title">
  <h1>Vos commandes passées :</h1>
</div>

<div class="past_deliveries">
  <%# @my_deliveries.where(status: ["paid"]).each do |delivery| %>
    <div class="notification-content">
      <p>Statut:</p>
      <p>image</p>
      <p>Nom du vin</p>
      <p>Prix total</p>
    </div>
  <%# end %>
</div>