<div class="container-global">
  <div class="contact-container">
    <h1>Contactez nous !</h1>
    <p>
      Contactez-nous en cas de problème avec
      votre abonnement, ou pour toute autre question
      si vous n'avez pas trouvé votre réponse dans la FAQ.
      Notre équipe vous répondra au plus vite. Vous pouvez aussi
      nous écrire à <%= link_to "unptitverre?@winee.com", root_path %>
    </p>
  </div>
</div>
