<body>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://images.unsplash.com/photo-1596142332133-327e2a0ff006?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);">
    <div class="container">
      <div class="search_bar">
        <form action="#">
          <input type="text"
              placeholder="Rechercher un vin..."
              name="search">
          <button href="#">
             Rechercher
          </button>
        </form>
      </div>
    </div>
  </div>
</body>
