.cards-container {
  margin: 0 auto;
  width: 1100px;
  height: 330px;
  background-color:white;
  border-radius: 10px;
  margin-bottom: 15px;
  flex-grow: 1;
}

.cards-container .cards-all{
  margin: 0 7%;
}

.card-wine-img {
  width: 100%;
  height: 175px;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 25%;
    height: 75%;
    object-fit: cover;
  }
}

.infos-quantity {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-top: 1px solid whitesmoke;
  .infos p {
    margin-bottom: 0;
  }
}

.buttons-action {
  display: flex;
  justify-content: space-around;
  height: 20px;
}

.buttons-action p {
  font-size:2vh;
}


.cards-container-all {
  height:95%;
  width:95%;
  background: white;
  border-radius: 1vh;
  margin:0 4vh;
  flex-grow: 1;
  padding: 0px 0px 50px 0px;
  margin-bottom: 30px;
}

.cards-container-all h2{
  margin: 2% 0 0 3%
}

.cards-all {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10%;
  margin: 3% 7%;
  flex-grow: 1;
  padding: 15px;
  padding-bottom: 150px;

}

.cards-all .card {
  width: 100%;
  height: 110%;
  box-shadow: 0px 1px 5px lightgrey;
  flex-grow: 1;

}

.cards-all button {
  height: 4.5vh;
  background-color: #964242;
  color: #f2f2f2;
  float: right;
  padding: 1vh 1vh;
  border: solid thin #964242;
  cursor: pointer;
  border-radius: 1vh;
  opacity: 1;
  transition: opacity 0.3s ease;
  vertical-align: center;
  margin: 0 1vh;
  font-size: 10px;
}

.cards-all .add_to_basket_button {
  height: 4.5vh;
  background-color: #000000;
  color: #f2f2f2;
  float: right;
  padding: 1vh 1vh;
  border: solid thin #000000;
  cursor: pointer;
  border-radius: 1vh;
  opacity: 1;
  transition: opacity 0.3s ease;
  vertical-align: center;
}

.cards-all button p {
  font-size: 12px;
  margin: 0px;
}

