.navbar-lewagon {
  justify-content: space-between;
  background: white;
  
}

.navbar-lewagon a {
	color:black;
	font-family: 'Roboto', sans-serif;
  
}

.navbar-brand {
	width: 115px;
	margin-right: 50px;
}




.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 115px;
  margin-right: 50px;
}

#connexion {
	background-color: #964242;
	border-radius: 7px;
	font-weight: bold;
	font-size: 14px;
	padding-right: 0px;
	margin-left: 50px;
}

#connexion .nav-link {
	color: white;
	font-family: 'Roboto', sans-serif;

}


.nav-item {
	font-weight: bold;
	font-size: 14px;
}

.navbar-light .navbar-nav .nav-link {
	color: black;
	text-align: center;
	font-family: 'Roboto', sans-serif;
}


#navbarSupportedContent {
	justify-content: space-around;
	flex-grow: 1;
}

.navbar-nav {
	margin: 0 auto !important;

}
