.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-brand {
	width: 115px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 115px;
}

#connexion {
	background-color: #964242;
	border-radius: 7px;
	font-weight: bold;
	font-size: 14px;
	padding-right: 0px;
}

#connexion .nav-link {
	color: white;
	font-family: 'Roboto', sans-serif;

}


.nav-item {
	font-weight: bold;
	font-size: 14px;
}

.navbar-light .navbar-nav .nav-link {
	color: black;
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

#center-nav-link {
	display: flex;
}


#navbarSupportedContent {
	justify-content: space-around;
	margin: 0;
}

.navbar-nav {
	margin: 0 auto !important;

}

#center-nav-link {
	margin: 0;
	justify-content: space-around;

}