.card-value-container {
    height: 120px;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    box-shadow: 11px 2px 16px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    margin-top: -60px;
    margin-bottom: 60px;
}


.card-value {
    overflow: hidden;
    height: 70%;
    width: 20%;
    background: white;
    box-shadow: 0 0 4px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.card-value img {
    height: 100%;
    width: 120px;
    object-fit: cover;
}

.card-value h2 {
    font-size: 15px;
    font-weight: bold;
    margin: 0;
}

.card-value .card-value-infos {
    padding: 16px;
}
