.container-title {
  margin-bottom: 15px;
  h2 {
    font-weight: bold;
    text-align: center;
  }
}
.cards-wine-home {
  padding: 15px 0px;
}

.card-wine-home {
  margin: 0 10px;
  width: 220px;
  height: 250px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  margin: 10px;
}

.card-wine-home > .infos-quantity {
  text-align: center;
}

.container-avis > h2 {
  font-weight: bold;
  margin-top: 100px;
  margin-bottom: 0;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 50px;
  color: white;
}

.container-avis {
  background-color: $my-primary;
}

.container-carrousel {
  background-color: #964242;
  padding: 80px;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 110px;
}

.carousel {
  width: 500px;
  margin: 0 auto;
}

.card-body-carousel {
  background-color: white;
  height: 150px;
  padding-top: 10px;
  border-radius: 30px;
}

.card-body-carousel > .stars {
  display:flex;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 8px;
  color: $my-yellow;
}

.wine-home {
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.vineyard-home {
  opacity: 0.5
}


i.fas.fa-star::before {
  color: $my-yellow
}

.card-subtitle-carrouss {
  opacity: 0.5;
}

.card-text {
  margin-bottom: 15px;
}

