.container-title {
  margin-bottom: 15px;
  h2 {
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
  }
}

.card-wine-home > .infos-quantity {
  text-align: center;
}

.card-wine-home {
  width: 220px;
  height: 250px;
  box-shadow: 0px 1px 5px lightgrey;
}

.container-avis > h2 {
  font-weight: bold;
  margin-top: 100px;
  margin-bottom: 20px;
  text-align: center;
}

.container-carrousel {
  background-color: #964242;
  padding: 80px;
  text-align: center;
}

.carousel {
  width: 500px;
  margin: 0 auto;
}

.card-body-carousel {
  background-color: white;
  height: 150px;
  padding-top: 10px;
  border-radius: 30px;
}

.card-body-carousel > .stars {
  display:flex;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 8px;
  color: $my-yellow;
}
