h1 {
  font-weight: bold;
  font-size: 40px;
  font-family: 'Indie Flower', cursive;
  margin-top: 20px;
  margin-bottom: 20px;
}

.carousel {
    width: 500px;
    margin: 0 auto;
}

.card-body-carousel {
  background-color: white;
  height: 150px;
  padding-top: 10px;
  border-radius: 30px;
}
