<div class="container-index">
  <div class="search-bar-container">
    <form class="search_bar" action="#">
      <input type="text"
          placeholder="Rechercher un vin..."
          name="search">
      <button>
        <i class="fa fa-search"
            style="font-size: 18px;">
        </i>
      </button>
    </form>
  </div>

  <div class="filter-content">
    <%= render '/shared/filters' %>


      <div class="cards-container-all">
        <h2> Toutes nos références</h2>
        <div class="cards-all">
          <% @wines.each do |wine| %>
            <%= render '/shared/wine_card', order: @order, order_wine: @order_wine, delivery: @delivery, delivery_product: @delivery_product, wine: wine %>
          <% end %>
        </div>
      </div>
  </div>

</div>
