<div class="container-index">
  <div class="search-bar-container">
    <form class="search_bar" action="#">
      <input type="text"
          placeholder="Rechercher un vin..."
          name="search">
      <button>
        <i class="fa fa-search"
            style="font-size: 18px;">
        </i>
      </button>
    </form>
  </div>
  <div class="filter-content">
    <div class="filters">
      A remplir
    </div>
    <div class="cards">
      à remplir
    </div>
  </div>
</div>
